evaluation/downstream/data/raw_snpwise_accuracy/array/*
evaluation/downstream/data/raw_snpwise_accuracy/lps/*
*.DS_Store
.venv
.cache
docs/evaluation/jupyter-files/.ipynb_checkpoints
evaluation/downstream/out_figs/.ipynb_checkpoints

# Ignore Jupyter Notebook output files
evaluation/downstream/out_tables/.ipynb_checkpoints
evaluation/downstream/out_tables/accuracy/mean_r2_summary_*
evaluation/downstream/out_tables/coverage/coverage_summary_*
evaluation/downstream/out_figs/acc.pdf
evaluation/downstream/out_figs/cov.pdf
evaluation/downstream/out_tables/coverage_summary_*
